<footer class="bg-white">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col space-y-4">
        <div class="flex justify-center">
            <button 
                (click)="scrollToTop()" 
                class="text-gray-400 hover:text-gray-600 inline-flex items-center text-sm transition-colors duration-200"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                Powrót do góry
            </button>
            </div>
        <div class="text-center">
            <p class="text-base text-gray-400">
            &copy; 2024 COVID-19 Tracker. Dane dostarczane przez 
            <a href="https://disease.sh/" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="hover:text-gray-500">
                disease.sh
            </a>
            </p>
        </div>
        </div>
    </div>
</footer>